* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 44, 221);

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    padding: 10px 20px;
    color: whitesmoke;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    font-size: 48px;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-image {
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
}

main {
    background-color: whitesmoke;
    border-radius: 40px 40px 0 0;
    height: 100%;
    padding-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.instructions {
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.your-library {
    font-size: 32px;
    font-weight: bold;
}

.button-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    gap: 30px;
}

.button-menu > button {
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(68, 183, 222);
    font-size: 18px;
    font-weight: bold;
}

.book-card-grid {
    grid-row: 2 ;
    grid-column: 1 / span 2;

    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


/* CSS for Book Cards (found in JS code) */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    aspect-ratio: 4/3;
    border-radius: 20px;
    background-color: rgb(235, 234, 220);

    padding: 20px 30px;
}

.book-read {
    border-left: rgb(199, 251, 199) solid 15px;
}

.book-not-read {
    border-left: rgb(234, 175, 195) solid 15px;
}

.book-card-title {
    font-size: 28px;
    font-weight: bold;
}

.book-card-author {
    font-size: 22px;
    font-weight: bold;
    color: #4c4c4c;
}

.book-card-pages {
    font-size: 18px;
    font-weight: normal;
}

.book-card-buttons {
    display: flex;
    justify-content: right;
    gap: 15px;
}

.book-card-buttons > button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;

    font-size: 16px;
    font-weight: bold;
}

.book-card-delete-btn {
    background-color: paleturquoise;
}

.book-read-btn {
    background-color: palevioletred;
}

.book-not-read-btn {
    background-color: palegreen;
}

dialog {
    width: min(80%, 500px);
    height: min(80%, 400px);
    border: none;
    border-radius: 30px;

    padding: 0;
}

.new-book-top-bar {
    background-color: paleturquoise;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.new-book-top-bar > p {
    font-weight: bold;
    font-size: 28px;
}

#new-book-cancel-btn {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    font-weight: bold;
}

dialog > fieldset {
    border: none;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.new-book-input[type="text"] {
    background-color: lightgray;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding: 5px;
}

.new-book-input[type="text"]:invalid {
    background-color: palevioletred;
}

.new-book-input[type="number"] {
    background-color: lightgray;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding: 5px;
}

.new-book-input[type="checkbox"] {
    background-color: lightgray;
    width: 20px;
    height: 20px;
}

fieldset > button[type="submit"] {
    grid-column: 2;
    background-color: paleturquoise;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
}